.footer {
    background: var(--background-footer);
    color: var(--color-text-footer);
    padding-top: 10em;
}
.footer > .wrap {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2em;
    padding-right: 2em;
}
    