:root {
    --background-button: tomato;
    --background-page: rgb(250, 250, 250);
    --background-header: #fff;
    --background-footer: rgb(226, 75, 48);
    --color-text-footer: #fff;
    --shadow-color: gray;
    --link-color-header: rgb(100, 100, 100);
    --link-color-header-hover: rgb(226, 75, 48);
}